/* About The Menu in The Footer Section */
.menu {
  margin: 0;
  ul {
    min-width: 100%;
    list-style: none;
    margin: 0;
    padding: 5px;
    text-align: center;
    li {
      display: inline;
      padding-right: 10px;
      border-right: 1px dotted #cccccc;
    }
  }
}

/* About Widgets in A Footer */
.footer {
  padding: 0;
  .footer-widgets {
    background-color: #ffffcc;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 5% 0 0 0;
    div.widget-item {
      padding: 15px 5px 0px;
      h4 {
        text-align: center;
        padding-bottom: 10px;
      }
      ul {
        list-style: inherit;
        padding-left: 15px;
        li a {
          display: block;
          min-height: 30px;
          line-height: 30px;
        }
        ul {
          padding-left: 15px;
        }
      }
    }
  }
}

/* About The Footer Section */
footer {
  padding: 0;
  p{
    color: rgba(255,255,255,.7);
    text-align: center;
    margin: 0;
    height: 50px;
    line-height: 50px;
  }
}