/* About The Widgets in A Sidebar */
.row-sidebar
{
  padding: 30px 20px 20px;
  div {
    padding-top: 20px;
    h4 {
      padding: 20px 0 5px;
    }
    ul {
      margin: 0;
      padding: 0px;
      li {
        list-style: none;
        a {
          display: block;
          border-bottom: 1px solid #ccc;
          padding: 0 10px;
          min-height: 40px;
          line-height: 40px;
        }
        a:hover {
          border: 1px solid rgba(0,0,0,0.5);
        }
      }
      li:hover > ul {
        display: block;
      }
      &.children {
        padding-left: 15px;
        display: none;
      }
      .dropdown-background {
        background: url("strelicaCrnaDole.png") no-repeat right center;
      }
    }

    /* It works just if you use Recent Posts With Thumbnails Widget with img-thumbnail and title of a post  */
    .rpwwt-widget {
      li {
        margin: 0;
        a {
          display: block;
          border: none;
          padding: 0 10px;
          min-height: 60px;
          line-height: 60px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        a:hover {
          border: none;
          text-decoration: underline;
        }
      }
    }
  }
}
